
body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url();
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: var(--font-family-sans-serif), 'Microsoft Jhenghei';

}
#resume{

    font-size: 16px;
}

#menu{
height:800px;
background: gray;
border-radius: 15px 0 0 15px;
padding-top: 20px;
text-align: center;

}
#menu ul{
font-size: 18px;
}

#title {
    color: white;
    margin: 5px;
}

.head{
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 15px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
  }
  .descp{
    color: white;
    font-size: 14px;
    font-weight: 100;
    margin: 5px;
}
.sub{
    height: 400px;
}
.sub li{
    margin: auto;
    padding: 0px 15px;
    font-size: 14px;
    color: white;
    text-align: left;
    list-style:none

}
.sub a{
    color: white;
    display: block;
    margin: 16px auto;
    padding: 4px 5px;
    text-decoration: none;
    border-radius: 10px;
 /*    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);  */
}

.sub a:link{
    color: white;
}

/* .sub a:hover{
    background: rgb(226, 226, 226);
    color:#F00;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(255, 255, 255); 
} */
.sub a:hover{
   /*  background: rgb(226, 226, 226); */
    color:rgb(0, 225, 255);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px rgb(255, 255, 255), inset 0 0 2px white; 
}
.sub a:active{
color: rgb(0, 247, 255);
}

/* .menushow{
    display: block;
    margin: 20px 0;
    padding: 5px 10px;
    font-size: 14px;
    color: white !important;
    text-decoration: none;
    background: rgb(255, 0, 0) !important;
    box-shadow: 0px 0px 5px 2px rgb(255, 255, 255) !important; 
} */
.menushow{
    /* display: block; */
    margin: 20px 0;
 /*    padding: 5px 10px; */
    font-size: 14px;
    color: white !important;
    text-decoration: none;
/*     background: rgb(255, 0, 0) !important; */
    text-shadow: 0px 0px 5px rgb(0, 238, 255) !important; 
    filter: drop-shadow(0 0 3px white) drop-shadow(0 0 3px rgb(0, 183, 255)) ;
}

.menushow:hover{
    color:#FFF !important;
}
.bttn{
    margin-top: -10px;
    padding: 0;
}
.bttn li{
    margin-top: 0px;
    padding: 0px 0px;
    font-size: 14px;
    color: white;
    text-align: left;
    list-style:none;
    display:inline-block;


}
.bttn a{
    color: white;
    display: block;
    margin: 16px 5px 0 0;
    padding: 4px 10px;
    text-decoration: none;
    border-radius: 10px;
    background: rgb(160, 160, 160);
 /*    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);  */
}

.bttn a:link{
    color: white;
}

/* .bttn a:hover{
    background: rgb(226, 226, 226);
    color:#F00;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px rgb(255, 255, 255); 
} */
.bttn a:hover{
   /*  background: rgb(226, 226, 226); */
    color:rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px rgb(255, 255, 255), inset 0 0 2px white; 
}
.bttn a:active{
color: rgb(0, 170, 255);
}
/* .bttn{
    display: inline-block;
    margin-top:-5px;
    background: rgb(176, 228, 206);
    border: solid 1px gray;
  } */

.bttnshow{
    background: rgb(0, 217, 255) !important;
}  

.admin{
    margin-top:0px;
    margin-bottom:10px;
    padding:0px;
    text-align: center;
    color:rgb(192, 190, 190)
}
#content{
    height:800px;
    background: lightgray;
    border-radius: 0 15px 15px 0;
    overflow: hidden;

}
.show{
    width:99%; 
    height:600px; 
    margin:auto; 
    overflow:auto; 
    /* align-items: center; */
}

.carousel-item{
    height: 500px;
}

/* 文字區塊的底色 */
.carousel-caption{
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);

}
.object-fit{
    object-fit: cover;
    object-position: center;
}

.video>div:first-child {
    height: 200px;
}

#footer{
    font-size: 1.5rem;
}

#loading{
    height: 100vh;
    position: fixed;
    z-index: 999;
}

#resume, #footer{
/*     display: none; */
}

/* button
{
	border:rgb(255, 255, 255) 1px solid;
	border-radius:5px;
	background:#EFEFEF;
	padding:5px 10px;
	font-weight: 600;
	font-size: 16px;
	margin:10px 0;
	cursor: pointer;
	outline: none;
}
input:active,button:active
{
	background:#E6E6E6;
}
input[type=text],input[type=password]
{
	margin:2px ;
}
input:focus,button:focus
{
	box-shadow:#09C 0px 0px 3px .3px;
} */


@media (max-width:576px){
    .carousel-item{
        height: 300px ;
    }
}

@media (min-width:768px){
    .video:nth-child(odd)>div:first-child{
        order:1;
    }
    .video:nth-child(odd)>div:last-child{
        order:0;
        text-align: right;
    }
}

